<?xml version="1.0" encoding="UTF-8"?>
                 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futures.entity.AccountSettleMapper">
	<select id="queryall" parameterType="java.util.HashMap"
		resultType="AccountSettle_Vm">
		<![CDATA[ 
		select * from AccountSettle
	 ]]>
	</select>
</mapper>