<?xml version="1.0" encoding="UTF-8"?>
                 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper：com.entity.PRODUCT,此值必须唯一 -->
<mapper namespace="com.futures.entity.OrderBillMapper">
	<!-- select id:用于session做查询；指明查询时的参数；查询返回的结果类型，转换成一个类的对象 PRODUCT是在config中注册的 -->
	<select id="selectOrderBillByOrderTime" parameterType="java.util.HashMap"
		resultType="OrderBill_Vm">
		<!-- 底层的SQL语句 -->
		<!-- 因为这个是xml格式的，所以不允许出现类似“>”这样的字符，但是都可以使用<![CDATA[ ]]>符号进行说明，将此类符号不进行解析 -->
	<![CDATA[ 
		select * from OrderBill where
		OrderTime>#{BGTM} and OrderTime<=#{EDTM}
	]]>
	</select>
</mapper>